html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #24221B;
    padding-top: 54px;
}

main {
    min-height: calc(100vh - 92px);
}

.box-shadow {
    -webkit-box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.45);
    box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.45);
}

.rotate {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.header {
    width: 100%;
    background-color: #24221B;
    position: fixed;
    left: 0;
    top: 0;
    color: #E5E5E5;
    font-size: 18px;
    line-height: 21px;
    z-index: 100;
}

.language {
    width: 97px;
}

.language>li {
    cursor: pointer;
    position: relative;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 31px;
}

.language>li>svg {
    width: 11px;
    margin-left: 14px;
}

.language>li>ul {
    display: none;
    color: #616059;
    padding: 0 17px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #24221B;
    width: 97px;
    z-index: 2;
}

.language>li>ul li a {
    width: 100%;
    padding: 11px 0 15px 14px;
    border-top: 1px solid #616059;
    display: block;
}

.language>li:hover {
    color: #fff;
}

.language>li:hover>svg {
    fill: #fff;
}

.language>li>ul:hover {
    color: #fff;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu>li {
    margin-left: 65px;
    cursor: pointer;
    height: 54px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu>li>a {
    height: inherit;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu>li:first-of-type {
    margin-left: 0;
}

.menu>li:nth-of-type(3),
.menu>li:nth-of-type(4) {
    margin: 0 5px;
}

.menu>li:hover {
    color: #fff;
}

.menu-dropdown {
    width: 174px;
    margin-left: 0;
}

.menu-dropdown>svg {
    width: 11px;
    margin-left: 8px;
}

.menu-dropdown>svg {
    fill: #fff;
}

.menu-dropdown>ul {
    display: none;
    color: #616059;
    padding: 0 17px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #24221B;
    width: 174px;
    z-index: 2;
}

.menu-dropdown>ul li a {
    width: 100%;
    padding: 12px 0 14px;
    border-top: 1px solid #616059;
    display: block;
    text-align: center;
}

.menu-dropdown>ul li a:hover {
    color: #fff;
}

/* section search */

#search {
    background: url(../image/index/banner-header.png) no-repeat center center;
    background-size: 100% 500px;
    padding: 113px 0 90px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#search.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 65px 0 26px;
    z-index: 10;
}

.search-wrap {
    color: #fff;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: 400;
}

.search-wrap>p {
    font-size: 24px;
    padding-top: 12px;
}

.search-group {
    width: 726px;
    height: 72px;
    background-color: #fff;
    -webkit-box-shadow: -6px 15px 6px rgba(0, 0, 0, 0.25);
    box-shadow: -6px 15px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid #C1A69B;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 6px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 46px auto 0;
}

.search-group>input {
    border: none;
    width: 90%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #24221B;
}

.search-group>input[type=search]::placeholder {
    color: #6F6B4E;
    font-weight: 400;
}

.search-group__btn {
    width: 58px;
    height: 58px;
    background-color: #24221B;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

ol {
    counter-reset: item;
}

.sayings__list {
    color: #24221B;
    font-size: 24px;
    line-height: 28px;
    padding: 44px 0 50px 0;
}

.sayings__list>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    padding: 0 127px 64px;
}

.sayings__list>li:last-of-type {
    padding-bottom: 0;
}

.sayings__list li:before {
    content: counters(item, ".") "."; 
    counter-increment: item;
}

.sayings__list>li:before {
    font-weight: 700;
}

.sayings__list>li>p {
    width: 42%;
}

.sayings__list li>ol {
    font-size: 20px;
    line-height: 33px;
    color: #484742;
    width: 55%;
}

.sayings__list li>ol>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
}

.sayings__list li>ol>li::before {
    padding-right: 4px;
}

.sayings__list_comment {
    padding: 14px 20px;
    background-color: #fff;
    color: #484742;
    max-width: 270px;
    position: absolute;
    right: 20%;
    top: 100%;
    z-index: 2;
    font-size: 16px;
    line-height: 22px;
    -webkit-box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.25);
    box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.25);
    display: none;
}

.open-comment>.sayings__list_comment {
    display: block;
}

.sayings__list>li.black {
    background-color: #24221B;
    -webkit-box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.45);
    box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.45);
    color: #fff;
    padding: 72px 127px 40px 127px;
    margin-top: -55px;
    margin-bottom: 25px;
}

.sayings__list>li.black>ol {
    color: #fff;
}

/* section index-news */

.index-news {
    background-color: #F5F5F5;
    padding: 50px 0;
}

.news-box {
    display: block;
    width: 100%;
    height: auto;
}

.news-box__img {
    width: 100%;
    max-height: 150px;
    overflow: hidden;
}

.news-box__img>img {
    width: 100%;
}

.news-box__info {
    color: #24221B;
    padding: 24px 22px;
    background-color: #fff;
    width: 100%;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.news-box__info h3 {
    font-size: 21px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 12px;
    height: 70px;
    overflow: hidden;
}

.news-box__info span {
    color: #C4C4C4;
    font-size: 18px;
}

.news-box:hover .news-box__info {
    background-color: #24221B;
    color: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    z-index: 1;
    -webkit-box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.18);
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.18);
    padding: 28px 22px;
}

.index-event {
    padding: 26px 0 32px;
    border-top: 1px solid #E5E5E5;
    display: block;
}

.index-event:last-of-type {
    border-bottom: 1px solid #E5E5E5;
}

.index-event h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #24221B;
}

.date {
    color: #C4C4C4;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
}

.date>img {
    width: 19px;
    margin-right: 11px;
}

.footer {
    background-color: #24221B;
    color: #616059;
    font-size: 14px;
    line-height: 38px;
    height: 38px;
}

.new-section {
    padding-top: 58px;
}

.new-section h1 {
    position: relative;
    line-height: 56px;
    font-size: 40px;
    font-weight: 500;
    color: #24221B;
    margin-bottom: 57px;
    padding-bottom: 10px;
}

.new-section h1:before {
    content: "";
    height: 5px;
    width: 59px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #C1A69B;
    bottom: 0;
}

.picnblock {
    height: 222px;
    overflow: hidden;
    background-color: #F7F7F7;
}

.picnblock img {
    min-width: 100%;
    min-height: 100%;
}

.textnblock {
    background-color: #F7F7F7;
    height: 100%;
    padding: 20px 20px 20px 30px;
    transition: transform .5s;
}

.textnblock .ndate {
    line-height: 27px;
    font-size: 18px;
    color: #C4C4C4;
    margin-bottom: 15px;
}

.textnblock .ntitle {
    font-weight: 500;
    line-height: 31px;
    font-size: 22px;
    color: #24221B;
    margin-bottom: 15px;
}

.textnblock .ndescr {
    line-height: 28px;
    font-size: 20px;
    color: #484742;
}

.newblock {
    margin-bottom: 40px;
    background-color: #F7F7F7;
}

.new-pagination ul li {
    display: inline-block;
}

.new-pagination ul li a {
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: #C4C4C4;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .3s;
}

.new-pagination ul li.active a,
.new-pagination ul li a:hover {
    color: #fff;
    background-color: #24221B;
}

.new-pagination {
    margin: 60px 0;
}

.newblock:hover .textnblock {
    background: #24221B;
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.18);
    transform: scale(1.05);
}

.newblock:hover .textnblock .ntitle,
.newblock:hover .textnblock .ndescr {
    color: #fff;
}

.newblock>.row>.col-md-4 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.newblock>.row>.col-md-8 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

/* NEW OPEN */

.brcrumb {
    margin: 23px 0 17px 0;
}

.brcrumb ul li {
    display: inline-block;
    line-height: 30px;
    font-size: 20px;
    color: #C4C4C4;
}

.brcrumb ul li a {
    color: #24221B;
}

.brcrumb ul li a:hover {
    text-decoration: underline;
}

.brcrumb ul li:after {
    content: "/";
    display: inline-block;
    margin: 0 5px 0 10px;
}

.brcrumb ul li:last-child:after {
    display: none;
}

.posttop-section {
    max-width: 725px;
    margin: 0 auto 47px;
}

.post-pic {
    margin-bottom: 29px;
    width: 100%;
}

.post-title {
    font-weight: 500;
    line-height: 56px;
    font-size: 40px;
    letter-spacing: 0.05em;
    color: #24221B;
    padding-bottom: 36px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 37px;
}

.postdate {
    line-height: 30px;
    font-size: 20px;
    color: #C4C4C4;
    vertical-align: middle;
}

.postdate img {
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}

.posttext-section p {
    line-height: 33px;
    font-size: 20px;
    color: #484742;
    margin-bottom: 20px;
}

.posttext-section {
    margin-bottom: 100px;
}

/* ARTICLES */

.articles-section h1 {
    position: relative;
    line-height: 56px;
    font-size: 40px;
    font-weight: 500;
    color: #24221B;
    margin-bottom: 57px;
    padding-bottom: 10px;
}

.articles-section h1:before {
    content: "";
    height: 5px;
    width: 59px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #C1A69B;
    bottom: 0;
}

.articles-section {
    margin-top: 58px;
}

.article-search {
    position: relative;
}

.article-search input[type="text"] {
    background: #FFFFFF;
    border: 1px solid #C1A69B;
    box-sizing: border-box;
    border-radius: 40px;
    width: 100%;
    height: 55px;
    padding-left: 70px;
    padding-right: 10px;
}

.article-search input[type="submit"] {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-image: url(../image/search.svg);
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.articles {
    margin-top: 75px;
}

.artleft-text p {
    margin: 0;
    font-weight: 500;
    line-height: 31px;
    font-size: 22px;
    color: #24221B;
}

.artright-text span {
    display: inline-flex;
}

.artright-text span:first-child {
    line-height: 28px;
    font-size: 20px;
    color: #C4C4C4;
    width: 11%;
    display: inline-flex;
}

.artright-text span:nth-child(2) {
    line-height: 28px;
    font-size: 20px;
    color: #484742;
    width: 59%;
    display: inline-flex;
}

.artright-text span:nth-child(3) {
    line-height: 28px;
    font-size: 20px;
    color: #C4C4C4;
    width: 28%;
    display: inline-flex;
    justify-content: flex-end;
}

.artright-text span:nth-child(3) text {
    line-height: 28px;
    font-size: 20px;
    color: #484742;
    padding-left: 4px;
}

.article-block {
    padding: 34px 0;
        transition: .5s;
    width: calc(100%);
}

.article-block:hover {
    padding: 34px 34px;
    background: #24221B;
    box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.25);
    transition: .5s;
    width: calc(100% + 68px);
    margin-left: -34px;
}

.article-block:hover .artleft-text p {
    color: #fff;
}

.article-block:hover .artright-text span:nth-child(2),
.article-block:hover .artright-text span:nth-child(3) text {
    color: #fff;
}

/*page events*/

.events {
    padding: 58px 0;
}

.events h1 {
    position: relative;
    line-height: 56px;
    font-size: 40px;
    font-weight: 500;
    color: #24221B;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.events h1::after {
    content: "";
    height: 5px;
    width: 59px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #C1A69B;
    bottom: 0;
}

.events-content {
    padding: 22px 0 42px;
    margin-bottom: 16px;
    color: #484742;
    display: block;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.events-content .date {
    margin-top: 0;
}

.events-content__title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: #24221B;
    margin-top: 16px;
    width: 70%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.events-content p {
    font-size: 20px;
    line-height: 28px;
    padding-top: 10px;
    width: 70%;
}

.events-content:hover {
    background-color: #24221B;
    width: calc(100% + 40px);
    margin-left: -40px;
    padding-left: 40px;
    -webkit-box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.45);
    box-shadow: -3px 6px 15px rgba(0, 0, 0, 0.45);
    color: #fff;
}

.events-content:hover .events-content__title {
    color: #fff;
}

#calendar {
    position: fixed;
    top: 54px;
    right: 0;
    width: 35%;
    height: calc(100vh - 54px);
    background-color: #F7F7F7;
}

 /* page events-open */
 .events-open p {
    font-size: 20px;
    line-height: 33px;
}

.events-open__title {
    text-align: center;
    font-size: 40px;
    line-height: 56px;
    font-weight: 500;
    padding-bottom: 36px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 35px;
    margin-top: 68px;
}

.events-open .date {
    margin: 0 auto 48px;
    width: 115px;
}

.events-open__image-center {
    width: 50%;
    margin: 90px auto;
    display: block;
}

.events-open__image {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 106px;
}

/* page articles-open */
.articles-open {
    padding-bottom: 105px;
    padding-top: 50px;
}

.articles-open__title {
    text-align: center;
    font-size: 40px;
    line-height: 56px;
    font-weight: 500;
    margin-bottom: 55px;
}

.articles-open__info {
    width: 50%;
    margin: 0 auto 90px;
}

.articles-open__info > img {
    width: 348px;
    margin: 0 auto 45px;
    display: block;
}

.articles-open__info-list {
    width: 100%;
    border-top: 1px solid #E5E5E5;
    padding-top: 6px;
    font-size: 20px;
    line-height: 28px;
}

.articles-open__info-list > li {
    padding-bottom: 6px;
}

.articles-open__info-list > li > span {
    color: #C4C4C4;
    padding-right: 6px;
}

.articles-open p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.articles-open p:last-of-type {
    padding-bottom: 0;
}

/* page sitemap */
.sitemap {
    padding-top: 58px;
    padding-bottom: 106px;
}

.sitemap__title {
    position: relative;
    line-height: 56px;
    font-size: 40px;
    font-weight: 500;
    color: #24221B;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.sitemap__title::after {
    content: "";
    height: 5px;
    width: 59px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #C1A69B;
    bottom: 0;
}

.sitemap__nav > li {
    display: block;
    margin-bottom: 45px;
    font-size: 22px;
    font-weight: 500;
    color: #24221B;
}

.sitemap__nav > li > ul {
    margin-left: 34px;
    margin-top: 26px;
}

.sitemap__nav > li > ul > li {
    font-size: 20px;
    color: #484742;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
}

.sitemap__nav > li > ul > li::before {
    content: '';
    background: url(../icons/right-arrow.svg) no-repeat center center;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -25px;
}

.sitemap__nav a:hover {
    text-decoration: underline;
}

/* page contact */

.contact {
    padding-top: 58px;
}
.contact__title {
    position: relative;
    line-height: 56px;
    font-size: 40px;
    font-weight: 500;
    color: #24221B;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.contact__title::after {
    content: "";
    height: 5px;
    width: 59px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #C1A69B;
    bottom: 0;
}

.contact > ul {
    margin-top: 105px;
    font-size: 22px;
    line-height: 31px;
    font-weight: 500;
    color: #24221B;
}

.contact > ul li {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

.contact > ul li > span {
    width: 59px;
    height: 59px;
    background-color: #C1A69B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 67px;
}

@media only screen and (max-width:1700px) {
    
    .article-block .col-md-5.offset-1 {
        margin-left: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .articles {
        margin-top: 0;
    }
    .artleft-text p {
        font-size: 18px;
    }
    .artright-text span:first-child, .artright-text span:nth-child(2), .artright-text span:nth-child(3),
    .artright-text span:nth-child(3) text {
        font-size: 16px;
        line-height: 22px;
    }
    .textnblock .ndate {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .textnblock .ntitle {
        line-height: normal;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .textnblock .ndescr {
        line-height: normal;
        font-size: 16px;
    }
    .picnblock {
        height: 180px;
    }
    .textnblock {
        padding: 10px 15px 10px 10px;
    }
    .newblock {
        margin-bottom: 20px;
    }
    .posttext-section p {
        line-height: 24px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .post-title {
        line-height: 40px;
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1600px) {
    #search {
        background-size: 100% 400px;
        padding: 90px 0 72px;
    }
    .title {
        font-size: 32px;
        line-height: 36px;
    }
    .search-wrap>p {
        font-size: 22px;
        padding-top: 10px;
    }
    .search-group {
        width: 90%;
        height: 65px;
        margin: 30px auto 0;
    }
    .search-group__btn {
        width: 50px;
        height: 50px;
    }
    .search-group__btn>img {
        width: 24px;
    }
    .sayings__list {
        font-size: 20px;
        line-height: 26px;
        padding: 36px 0 40px 0;
    }
    .sayings__list li>ol {
        font-size: 18px;
        line-height: 26px;
    }
    .sayings__list>li {
        padding: 0 60px 48px;
    }
    .sayings__list>li.black {
        padding: 55px 60px 30px 60px;
        margin-top: -45px;
    }
    .news-box__info h3 {
        font-size: 19px;
        line-height: 24px;
        font-weight: 500;
        margin-top: 10px;
    }
    .news-box__info span {
        color: #C4C4C4;
        font-size: 16px;
    }
    .news-box__img {
        max-height: 110px;
    }
    .news-box__info {
        padding: 20px 16px;
    }
    .news-box:hover .news-box__info {
        padding: 20px;
    }
    .index-event {
        padding: 20px 0 24px;
    }
    .index-event h3 {
        font-size: 17px;
        line-height: 24px;
    }
    .date {
        font-size: 15px;
        margin-top: 12px;
    }
}

@media only screen and (max-width: 1199.8px) {
    .header {
        font-size: 16px;
        line-height: 18px;
    }
    .sayings__list {
        font-size: 18px;
        line-height: 22px;
    }
    .sayings__list>li {
        padding: 0 40px 38px;
    }
    .sayings__list>li.black {
        padding: 55px 40px 30px 40px;
        margin-top: -45px;
    }
    .sayings__list li>ol {
        font-size: 16px;
        line-height: 26px;
    }
    .sayings__list_comment {
        padding: 14px 16px;
        right: 5%;
        font-size: 14px;
        line-height: 20px;
    }

    .article-block {
        padding: 15px 0;
    }
    .article-block:hover {
        padding: 15px 15px;
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .events h1 {
        margin-bottom: 30px;
    }

    .events-content {
        padding: 16px 0 25px;
        margin-bottom: 12px;
    }

    .events-content__title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 12px;
        width: 85%;
    }

    .events-content p {
        font-size: 18px;
        line-height: 24px;
        padding-top: 8px;
        width: 85%;
    }

    .events-open p {
        font-size: 16px;
        line-height: 26px;
    }
    
    .events-open__title {
        font-size: 30px;
        line-height: 46px;
        padding-bottom: 26px;
        margin-bottom: 24px;
        margin-top: 38px;
    }
    
    .events-open .date {
        margin: 0 auto 28px;
        width: 115px;
    }
    
    .events-open__image-center {
        width: 50%;
        margin: 40px auto;
    }
    
    .events-open__image {
        margin-top: 60px;
        margin-bottom: 86px;
    }

    .articles-open {
        padding-bottom: 70px;
        padding-top: 20px;
    }
    
    .articles-open__title {
        font-size: 30px;
        line-height: 46px;
        margin-bottom: 35px;
    }
    
    .articles-open__info {
        width: 60%;
        margin: 0 auto 40px;
    }
    
    .articles-open__info > img {
        width: 300px;
        margin: 0 auto 25px;
    }
    
    .articles-open__info-list {
        font-size: 16px;
        line-height: 20px;
    }
    
    .articles-open p {
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .header {
        font-size: 14px;
        line-height: 18px;
    }

    .menu-dropdown>ul {
        left: auto;
    }

    .menu>li {
        margin-left: 30px;
    }

    .menu-dropdown {
        width: auto;
        margin-left: 30px;
    }

    .menu>li:nth-of-type(3),
    .menu>li:nth-of-type(4) {
        margin-left: 30px;
    }

    .menu-dropdown.box-shadow {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #search {
        background-size: 100% 280px;
        padding: 65px 0 50px;
    }

    .title {
        font-size: 26px;
        line-height: 30px;
    }

    .search-wrap>p {
        font-size: 18px;
        padding-top: 8px;
    }

    .search-group {
        width: 90%;
        height: 50px;
        margin: 22px auto 0;
        padding: 5px 6px;
    }

    .search-group__btn {
        width: 38px;
        height: 38px;
    }

    .search-group__btn>img {
        width: 20px;
    }

    .search-group>input {
        width: 90%;
        padding-left: 20px;
        font-size: 16px;
    }

    .sayings__list {
        font-size: 16px;
        line-height: 20px;
    }

    .sayings__list li>ol {
        font-size: 14px;
        line-height: 20px;
    }
    .news-box__img {
        max-height: 65px;
    }
    .news-box__info {
        padding: 14px 10px;
    }
    .news-box__info span {
        color: #C4C4C4;
        font-size: 13px;
    }
    .news-box__info h3 {
        font-size: 15px;
        line-height: 20px;
        margin-top: 6px;
        height: 60px;
    }
    .news-box:hover .news-box__info {
        margin-left: -10px;
        margin-top: -5px;
        padding: 12px;
    }
    .index-event {
        padding: 10px 0 14px;
    }
    .index-event h3 {
        font-size: 13px;
        line-height: 20px;
    }

    .artleft-text p {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 24px;
    }
    .article-block .col-md-6, .article-block .col-md-5.offset-1 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .textnblock .ntitle {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .textnblock {
        padding: 20px 20px 20px 20px;
    }
    .new-section {
        padding-top: 30px;
    }
    .new-section h1 {
        margin-bottom: 30px;
        padding-bottom: 0;
        font-size: 32px;
    }
    .posttop-section {
        margin: 0 auto 20px;
    }
    .posttext-section {
        margin-bottom: 40px;
    }
    .brcrumb ul li {
        font-size: 16px;
    }

    #calendar {
        display: none;
    }

    .events h1 {
        line-height: 48px;
        font-size: 32px;
    }

    .events-content__title {
        width: 100%;
        font-size: 18px;
    }

    .events-content p {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
    }

    .events-open p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .events-open__title {
        font-size: 26px;
        line-height: 32px;
        padding-bottom: 16px;
        margin-bottom: 14px;
        margin-top: 28px;
    }
    
    .events-open .date {
        margin: 0 auto 18px;
    }
    
    .events-open__image-center {
        width: 60%;
        margin: 20px auto;
    }
    
    .events-open__image {
        margin-top: 30px;
        margin-bottom: 56px;
    }

    .articles-open {
        padding-bottom: 50px;
        padding-top: 10px;
    }
    
    .articles-open__title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    
    .articles-open__info {
        width: 70%;
        margin: 0 auto 20px;
    }
    
    .articles-open__info > img {
        width: 250px;
        margin: 0 auto 15px;
    }
    
    .articles-open__info-list {
        font-size: 14px;
    }
    
    .articles-open p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 16px;
    }

    .sitemap {
        padding-top: 32px;
        padding-bottom: 60px;
    }

    .sitemap__title {
        line-height: 48px;
        font-size: 32px;
        margin-bottom: 34px;
    }

    .sitemap__nav > li {
        margin-bottom: 32px;
        font-size: 20px;
    }

    .sitemap__nav > li > ul > li {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .contact {
        padding-top: 38px;
    }

    .contact__title {
        line-height: 48px;
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .contact > ul {
        margin-top: 55px;
        font-size: 18px;
        line-height: 26px;
    }
    
    .contact > ul li {
        margin-bottom: 30px;
    }
    
    .contact > ul li > span {
        width: 49px;
        height: 49px;
        margin-right: 27px;
    }

    .contact > ul li > span > img {
        width: 30px;
    }

}

@media only screen and (max-width: 767.8px) {

    .header {
        font-size: 18px;
        line-height: 20px;
    }

    /*button menu*/
    .menu-btn {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        cursor: pointer;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -13px;
        width: 26px;
        height: 2px;
        background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.3s;
    }
    .menu-btn span::before {
        transform: translateY(-5px);
    }
    .menu-btn span::after {
        transform: translateY(5px);
    }
    .menu-btn_active span {
        height: 0;
    }
    .menu-btn_active span:before {
        transform: rotate(-42deg);
    }
    .menu-btn_active span:after {
        transform: rotate(42deg);
    }
    /*button menu*/
    .menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #24221B;
        text-align: center;
        width: 100%;
        height: calc(100vh - 54px);
        overflow-y: scroll;
    }
    .menu>li {
        margin-left: 0;
        height: auto;
        padding: 16px 0;
    }
    .menu>li:nth-of-type(3),
    .menu>li:nth-of-type(4) {
        margin: 0;
    }
    .menu-dropdown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    .menu-dropdown>ul {
        position: static;
        width: 100%;
        margin-top: 10px;
    }
    #search {
        background-size: cover;
        padding: 45px 0 40px;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
    }
    .search-wrap>p {
        font-size: 16px;
        padding-top: 6px;
    }
    .sayings__list>li {
        padding: 0 35px 25px;
        display: block;
    }
    .sayings__list>li>p {
        display: inline;
    }
    .sayings__list li>ol {
        width: 100%;
        margin-left: 25px;
    }
    .news-box {
        margin-bottom: 15px;
    }
    .news-box__img {
        max-height: 100px;
    }
    .news-box__info h3 {
        height: 45px;
    }

    .articles-section {
        margin-top: 30px;
    }
    .articles-section h1 {
        margin-bottom: 30px;
    }
    .brcrumb ul li {
        font-size: 14px;
    }
    .postdate {
        font-size: 14px;
    }
    .posttext-section p {
        line-height: 22px;
        font-size: 14px;
    }
    .post-title {
        line-height: 28px;
        font-size: 20px;
    }
    .textnblock {
        padding: 10px 10px 10px 10px;
    }
    .picnblock {
        height: 150px;
    }
    .textnblock .ntitle {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .textnblock .ndescr {
        font-size: 14px;
    }
    .textnblock .ntitle {
        font-size: 16px;
    }

    .events-open__title {
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 12px;
        margin-bottom: 18px;
        margin-top: 20px;
    }

    .articles-open__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 18px;
    }

    .articles-open__info {
        width: 100%;
        margin: 0 auto 20px;
    }
}

@media only screen and (max-width: 575.8px) {
    #search {
        padding: 20px 0 26px;
    }
    .search-group {
        width: 100%;
        height: 50px;
        margin: 22px auto 0;
        padding: 5px 6px;
    }
    .sayings__list>li {
        padding: 0;
        padding-bottom: 26px;
        display: block;
    }
    .sayings__list li>ol {
        width: auto;
        margin-left: 10px;
    }
    .sayings__list>li.black {
        padding: 35px 20px 15px 20px;
        margin-top: -45px;
        margin-bottom: 15px;
    }
    .news-box__img {
        height: 100%;
    }
    .news-box__info h3 {
        font-size: 16px;
        height: 100%;
    }
    .news-box {
        display: block;
        width: 300px;
        height: auto;
        margin: 0 auto 15px;
    }
    .index-event {
        width: 300px;
        margin: 0 auto;
    }
    .index-event h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .artright-text span:first-child {
        width: 17%;
    }
    .artright-text span:nth-child(2) {
        width: 80%;
    }
    .artright-text span:nth-child(3) {
        width: 100%;
        justify-content: flex-start;
    }
    .artright-text span:nth-child(3) text {
        padding-left: 6px;
    }
    .newblock>.row>.col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .newblock>.row>.col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .picnblock {
        height: auto;
        max-height: 50vh;
    }
    .textnblock .ntitle {
        font-size: 18px;
    }
    .textnblock .ndescr {
        font-size: 16px;
    }
    .textnblock {
        padding: 20px 20px 20px 20px;
    }
    .new-pagination {
        margin: 20px 0 30px 0;
    }

    .events-open__image-center {
        width: 100%;
    }

    .contact > ul {
        font-size: 16px;
        line-height: 22px;
    }
    
    .contact > ul li > span {
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }

    .contact > ul li > span > img {
        width: 26px;
    }

    .contact > ul li > p {
        width: 78%;
    }

}

@media only screen and (max-width: 375px) {
    .news-box {
        width: 100%;
    }
    .index-event {
        width: 100%;
    }
}

@media only screen and (min-width: 1601px) {
    .container {
        max-width: 1480px;
    }
    .header .container {
        max-width: 85%;
    }
}