/* NEW OPEN */

.brcrumb {
    margin: 23px 0 17px 0;
}

.brcrumb ul li {
    display: inline-block;
    line-height: 30px;
    font-size: 20px;
    color: #C4C4C4;
}

.brcrumb ul li a {
    color: #24221B;
}

.brcrumb ul li a:hover {
    text-decoration: underline;
}

.brcrumb ul li:after {
    content: "/";
    display: inline-block;
    margin: 0 5px 0 10px;
}

.brcrumb ul li:last-child:after {
    display: none;
}

.posttop-section {
    max-width: 725px;
    margin: 0 auto 47px;
}

.post-pic {
    margin-bottom: 29px;
    width: 100%;
}

.post-title {
    font-weight: 500;
    line-height: 56px;
    font-size: 40px;
    letter-spacing: 0.05em;
    color: #24221B;
    padding-bottom: 36px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 37px;
}

.postdate {
    line-height: 30px;
    font-size: 20px;
    color: #C4C4C4;
    vertical-align: middle;
}
.postdate img {
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
.posttext-section p {
    line-height: 33px;
    font-size: 20px;
    color: #484742;
    margin-bottom: 20px;
}
.posttext-section {
    margin-bottom: 100px;
}



@media only screen and (max-width:1700px) {
    .textnblock .ndate {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .textnblock .ntitle {
        line-height: normal;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .textnblock .ndescr {
        line-height: normal;
        font-size: 16px;
    }
    .picnblock {
        height: 180px;
    }
    .textnblock {
        padding: 10px 15px 10px 10px;
    }
    .newblock {
        margin-bottom: 20px;
    }
    .posttext-section p {
        line-height: 24px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .post-title {
        line-height: 40px;
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
}

@media only screen and (max-width:991.8px) {
    .textnblock .ntitle {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .textnblock {
        padding: 20px 20px 20px 20px;
    }
    .new-section {
        padding-top: 30px;
    }
    .new-section h1 {
        margin-bottom: 30px;
        padding-bottom: 0;
        font-size: 32px;
    }
    .posttop-section {
        margin: 0 auto 20px;
    }
    .posttext-section {
        margin-bottom: 40px;
    }
    .brcrumb ul li {
        font-size: 16px;
    }
}

@media only screen and (max-width:767.8px) {
    .brcrumb ul li {
        font-size: 14px;
    }
    .postdate {
        font-size: 14px;
    }
    .posttext-section p {
        line-height: 22px;
        font-size: 14px;
    }
    .post-title {
        line-height: 28px;
        font-size: 20px;
    }
    .textnblock {
        padding: 10px 10px 10px 10px;
    }
    .picnblock {
        height: 150px;
    }
    .textnblock .ntitle {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .textnblock .ndescr {
        font-size: 14px;
    }
    .textnblock .ntitle {
        font-size: 16px;
    }
}

@media only screen and (max-width:575.8px) {
    .newblock>.row>.col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .newblock>.row>.col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .picnblock {
        height: auto;
        max-height: 50vh;
    }
    .textnblock .ntitle {
        font-size: 18px;
    }
    .textnblock .ndescr {
        font-size: 16px;
    }
    .textnblock {
        padding: 20px 20px 20px 20px;
    }
    .new-pagination {
        margin: 20px 0 30px 0;
    }
}